<h1 id="the-heading">Lab Assignment 2</h1>
    
    <div id="leftbar" height="100%">
        <nav>
            <ul id="showlist">
                <li> <h2> <a href="#rang-de">Rang De Basanti</a> </h2></li>
                <li> <h2><a href="#i-love-u">PS: I Love You</a></h2> </li>
                <li> <h2><a href="#forest-gump">Forest Gump</a> </h2></li>
                <li> <h2><a href="#interstellar">Interstellar</a> </h2></li>
                <li> <h2><a href="#sherlock">Sherlock</a></h2> </li>
                <li> <h2> <a href="#the-fault">The Fault in our Stars</a> </h2></li>
                <li> <h2> <a href="#the-leap">The Leap</a> </h2></li>
                <li><h2> <a href="#the-vow">The Vow</a> </h2></li>
                <li> <h2> <a href="#what-now">What Now</a> </h2></li>
                <li> <h2> <a href="#dear-john">Dear John</a> </h2></li>
            </ul>
        </nav>
    </div>

    <div id="main">     
        <div class="flex-container">
            <article id="rang-de" class="flex-item">
                <h3 id="show">Rang De Basanti</h3>
                <img src="/public/img/rang-de.jpg" alt="rang-de">
                <p>Rang De Basanti is a 2006 Indian drama film written, produced and directed by Rakeysh Omprakash Mehra. </p>
            </article>
            <article id="i-love-you" class="flex-item">
                <h3 id="show">PS: I Love You</h3>
                <img src="/public/img/i-love-u.jpg"alt="ilu">
                <p>P.S. I Love You is a 2007 American drama film directed by Richard LaGravenese.  </p>
            </article>
            <article id="forest-gump" class="flex-item">
                <h3 id="show">Forest Gump</h3>
                <img src="/public/img/forest-gump.jpg" alt="fg">
                <p>Forrest Gump is a 1994 American comedy-drama film based on the 1986 novel of the same name by Winston Groom. </p>
            </article>
            <article id="interstellar" class="flex-item">
                <h3 id="show">Interstellar</h3>
                <img src="/public/img/interstellar.jpg" alt="interstellar" >
                <p>Interstellar is a 2014 epic science fiction film directed, co-written and co-produced by Christopher Nolan. </p>
            </article>
            <article id="sherlock" class="flex-item">
                <h3 id="show">Sherlock</h3>
                <img src="/public/img/sherlock.jpg" alt="sherlock">
                <p>Sherlock is a crime drama television series based on Sir Arthur Conan Doyle's Sherlock Holmes detective stories.</p>
            </article>
            <article id="the-fault" class="flex-item">
                <h3 id="show">The Fault in our Stars</h3>
                <img src="/public/img/the-fault.jpg" alt="thefault">
                <p>The Fault in Our Stars is the sixth novel by author John Green, published in January 2012. </p>
            </article>
            <article id="the-leap" class="flex-item">
                <h3 id="show">The Leap</h3>
                <img src="/public/img/the-leap.jpg" alt="theleap" >
                <p>The leap is an animated movie set in 1879 Paris</p>
            </article>
            <article id="the-vow" class="flex-item">
                <h3 id="show">The Vow</h3>
                <img src="/public/img/the-vow.jpg" alt="thevow">
                <p>The Vow is a 2012 American romantic drama film directed by Michael Sucsy and written by Abby Kohn </p>
            </article>
            <article id="what-now" class="flex-item">
                <h3 id="show">What Now</h3>
                <img src="/public/img/what-now.jpg" alt="whatnow">
                <p>Hart takes center stage in this groundbreaking, record-setting, sold-out performance of "What Now?" </p>
            </article>
            <article id="dear-john" class="flex-item">
                <h3 id="show">Dear John</h3>
                <img src="/public/img/dear-john.jpg" alt="dearjohn">
                <p>A romantic drama about a soldier who falls for a conservative college student while he's home on leave.</p>
            </article>
               
</div>