<h1 id="the-heading">Lab Assignment 3</h1>
<div class="wrapper">
    <div id="leftbar">
        <nav>
            <ul id="showlist">
                <li>
                    <h2> <a href="#rang-de">Rang De Basanti</a> </h2>
                </li>
                <li>
                    <h2><a href="#i-love-u">PS: I Love You</a></h2>
                </li>
                <li>
                    <h2><a href="#forest-gump">Forest Gump</a> </h2>
                </li>
                <li>
                    <h2><a href="#interstellar">Interstellar</a> </h2>
                </li>
                <li>
                    <h2> <a href="#dear-john">Dear John</a> </h2>
                </li>
                <li>
                    <h2><a href="#sherlock">Sherlock</a></h2>
                </li>
                <li>
                    <h2> <a href="#the-fault">The Fault in our Stars</a> </h2>
                </li>
                <li>
                    <h2> <a href="#the-leap">The Leap</a> </h2>
                </li>
                <li>
                    <h2> <a href="#the-vow">The Vow</a> </h2>
                </li>
                <li>
                    <h2> <a href="#what-now">What Now</a> </h2>
                </li>

            </ul>
        </nav>
    </div>

    <div id="main">



        <div class="card-deck">
            <div class="col-xs-12 col-md-6 col-lg-4" id="rang-de">
                <div class="card">
                    <img class="card-img-top" src="/public/img/rang-de.jpg" alt="rang-de">
                    <div class="card-block">
                        <h2 class="card-title">Rang De Basanti</h2>
                        <p class="card-text"> Rang De Basanti is a 2006 Indian drama film written</p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#bt1">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" id="bt1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        It is produced and directed by Rakeysh Omprakash Mehra. The story is about a British documentary filmmaker who is determined
                                        to make a film on Indian freedom fighters based on diary entries by her grandfather,
                                        a former officer of the Indian Imperial Police. Upon arriving in India, she asks
                                        a group of five young men to act in her film. Rang De Basanti's release faced stiff
                                        resistance from the Indian Defence Ministry and the Animal Welfare Board due to parts
                                        that depicted the use of MiG-21 fighter aircraft and a banned Indian horse race.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" id="i-love-you">
                <div class="card">
                    <img class="card-img-top" src="/public/img/i-love-u.jpg" alt="ilu">
                    <div class="card-block">
                        <h2 class="card-title">PS I love You</h2>
                        <p class="card-text">P.S. I Love You is a 2007 American drama film</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt2">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt2" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        The screenplay by LaGravenese and Steven Rogers is based on the 2004 novel of the same name by Cecelia Ahern. It stars Hilary
                                        Swank, Gerard Butler, Lisa Kudrow, Gina Gershon, James Marsters, Harry Connick Jr.
                                        and Jeffrey Dean Morgan. It was distributed by Warner Bros. Pictures and Momentum
                                        Pictures. </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" id="forest-gump">
                <div class="card">
                    <img class="card-img-top" src="/public/img/forest-gump.jpg" alt="ilu">
                    <div class="card-block">
                        <h2 class="card-title">Forest Gump</h2>
                        <p class="card-text"> Forrest Gump is a 1994 American comedy-drama </p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt3">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt3" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        The story depicts several decades in the life of Forrest Gump, a slow-witted but kind-hearted, good-natured and athletically
                                        prodigious man from Alabama, who witnesses, and in some cases influences, some of
                                        the defining events of the latter half of the 20th century in the United States </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" id="interstellar">
                <div class="card">

                    <img class="card-img-top" src="/public/img/interstellar.jpg" alt="interstellar">
                    <div class="card-block">
                        <h2 class="card-title">Interstellar</h2>
                        <p class="card-text">Interstellar is a 2014 epic science fiction.</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt4">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt4" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        The movie stars Matthew McConaughey, Anne Hathaway, Jessica Chastain, Bill Irwin, Casey Affleck, Ellen Burstyn, John Lithgow
                                        and Michael Caine. Set in a dystopian future where humanity is struggling to survive,
                                        it follows a group of astronauts who travel through a wormhole in search of a new
                                        home for humanity. </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" id="dear-john">
                <div class="card">
                    <img class="card-img-top" src="/public/img/dear-john.jpg" alt="dearjn">
                    <div class="card-block">
                        <h2 class="card-title">Dear John</h2>
                        <p class="card-text">A romantic drama about a soldier</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt5">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt5" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        . It was made by Screen Gems and was released theatrically in North America on February 5, 2010. The film was directed by
                                        Lasse Hallström, and it is an adaptation of Nicholas Sparks' 2006 novel of the same
                                        name. It follows the life of a soldier (Channing Tatum) after he falls in love with
                                        a young woman (Amanda Seyfried). </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="sherlock">
                <div class="card">
                    <img class="card-img-top" src="/public/img/sherlock.jpg" alt="sherlock">
                    <div class="card-block">
                        <h2 class="card-title">Sherlock</h2>
                        <p class="card-text">Sherlock is a crime drama television series.</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt6">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt6" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        In the film, set in 1890, eccentric detective Holmes and his companion Watson are hired by a secret society to foil a mysticist's
                                        plot to expand the British Empire by seemingly supernatural means. Rachel McAdams
                                        stars as their former adversary Irene Adler and Mark Strong portrays villain Lord
                                        Henry Blackwood. </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="the-fault">
                <div class="card">
                    <img class="card-img-top" src="/public/img/the-fault.jpg" alt="thefault">
                    <div class="card-block">
                        <h2 class="card-title">The Fault in our Stars</h2>
                        <p class="card-text">The Fault in Our Stars is the sixth novel by author John Green</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt7">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt7" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Woodley plays Hazel Grace Lancaster, a sixteen-year-old cancer patient who is forced by her parents to attend a support group,
                                        where she meets and subsequently falls in love with Augustus Waters, another cancer
                                        patient, played by Elgort. </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" id="the-leap">
                <div class="card">
                    <img class="card-img-top" src="/public/img/the-leap.jpg" alt="theleap">
                    <div class="card-block">
                        <h2 class="card-title">The Leap</h2>
                        <p class="card-text">The leap is an animated movie set in 1879 Paris</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt8">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt8" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        The story weaves a fantasy into everyday life, but for the most part it is confined to Charlie's dreams (and later, her perception
                                        of the waking world). With only a few clues, the reader is kept guessing whether
                                        it is all in Charlie's imagination, or whether there is a reality behind the dream.
                                        No simple answer is given, even at the end. </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="the-vow">
                <div class="card">
                    <img class="card-img-top" src="/public/img/the-vow.jpg" alt="thevow">
                    <div class="card-block">
                        <h2 class="card-title">The Vow</h2>
                        <p class="card-text">The Vow is a 2012 American romantic drama.</p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt9">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt9" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        The film stars Rachel McAdams and Channing Tatum as the Collins, with Sam Neill, Scott Speedman and Jessica Lange in supporting
                                        roles. </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="what-now">
                <div class="card">
                    <img class="card-img-top" src="/public/img/what-now.jpg" alt="whatnow">
                    <div class="card-block">
                        <h2 class="card-title">What Now</h2>
                        <p class="card-text">Hart takes center stage in this groundbreaking, record-setting, sold-out performance of "What Now?"
                        </p>
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bt10">Description</button>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="bt10" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Nothing! Wait for the next lab now! :p
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>